In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/shark-tank-india-companies/dataset.csv

In [2]:
dataframe = pd.read_csv('/kaggle/input/shark-tank-india-companies/dataset.csv')
dataframe.head()

,episode,pitch_no,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,ghazal
0,1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,NaN,NaN
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,NaN,NaN
2,1,3,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,NaN,NaN
3,2,4,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,NaN,NaN
4,2,5,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,NaN,NaN

In [3]:
dataframe.shape

(117, 12)

In [4]:
dataframe.dtypes

episode      int64
pitch_no     int64
company     object
idea        object
deal        object
ashneer     object
namita      object
anupam      object
vineeta     object
aman        object
peyush      object
ghazal      object
dtype: object

In [5]:
dataframe.describe(include="object")

,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,ghazal
count,117,117,117,98,106,117,66,98,88,26
unique,117,117,41,2,2,2,2,2,2,2
top,BluePine Industries,Frozen Momos,No Deal,N,N,N,N,N,N,N
freq,1,1,75,77,84,93,51,70,61,19

In [6]:
dataframe.describe()

          episode    pitch_no
count  117.000000  117.000000
mean    18.735043   59.000000
std     10.070778   33.919021
min      1.000000    1.000000
25%     10.000000   30.000000
50%     19.000000   59.000000
75%     27.000000   88.000000
max     35.000000  117.000000

In [7]:
dataframe.drop(columns = ["deal"],inplace = True)

In [8]:
for i in dataframe.columns:
    if dataframe[i].isnull().sum()>=7:
        dataframe.drop(columns= [i],inplace=True)
dataframe.shape

(117, 5)

In [9]:
dataframe.isna().sum()[40:50]

Series([], dtype: int64)

In [10]:
dataframe.dropna(axis=1, inplace=True)
dataframe.shape

(117, 5)

In [11]:
(dataframe.isnull().sum()/dataframe.shape[0])*100

episode     0.0
pitch_no    0.0
company     0.0
idea        0.0
anupam      0.0
dtype: float64

In [12]:
np.where(dataframe["company"].isnull()==True)

(array([], dtype=int64),)

In [13]:
missing= dataframe.iloc[np.where(dataframe["company"].isnull()==True)]

In [14]:
dataframe["idea"].unique()

array(['Frozen Momos', 'Renting e-bike for mobility in private spaces',
       'Detachable Sleeves', 'Healthy Potato Chips',
       'Brain Development Course', 'Tourism', 'Food Freshness Detector',
       'Disposable Urine Bag', 'Energy Drink', 'Intelligent Skincare',
       'Pickle', 'Underwear', 'E-Bike',
       'Restaurant serving 80 types of Maggi', 'Belly Button Shaper',
       'Ice-Pops', 'Menstrual Awareness Comic',
       'Pollution Resistant Fabric', 'Child Development App',
       'Gadgets for visually impaired people',
       'Kheer in variety of flavors', 'Kerala Banana Chips',
       'Prickless Diabetes Testing Machine', 'Smart Electric Motorcycle',
       'Smart Helmets', 'Wooden Toys', 'Healthy Oils',
       'Male Intimate Hygiene', 'Eggs', 'Student Community App',
       'Fiber Ice Cream', 'Wall Building', 'Customised Streetwear',
       'Ayurvedic Products', 'Indian Sweets', 'Metaverse App',
       'Braille Literary Device', 'Eco-Friendly boxes',
       'Yarn-Trading App', 'Home Dialysis Treatment',
       'Healthy Food Snacks', 'Digital Piggy Bank',
       'Smart Audio Products', 'Robotics and Automation Solutions',
       'Coconut based beverage franchise', 'Bamboo Products',
       'Dog Hygiene', 'Liquid Water Enhancer', 'Healthy Snacks',
       'Sneaker Resale', 'EdTech App', 'Premium Surprise-Planning',
       'Pothole Detection Software and Data', 'Thin Crust Pizza',
       'Hemp Food Products', 'Electric Auto Vehicle', 'Funeral Service',
       'Leather-free Shoes', 'Livestock health monitoring AI',
       'Customised Keto Diets for various medical issues',
       'LPG Cylinder lock', 'Delicacies', 'Comics & Animation',
       'Can Cocktails', 'Sugar-Free Icecream', 'Inventions',
       'Customised Apparels', 'Natural Hair Extensions',
       'Toilet Spray with Essential Oils', 'Meads', 'Fresh Fruits',
       'Ayurvedic Enriched Food', 'Streetwear', 'Motorcycle Luggage',
       'Bags', 'Gifts', 'Agricultural Innovations', 'Homemade Foods',
       'Dog Products', 'Portable ECG Device', 'Roasted Peanut Products',
       'Perfumes', 'Automatic Cradle', 'Handicrafts', 'Coffee Products',
       'Ventilated PPE Kits', 'Automation Solutions',
       'Insurance Solutions', 'Organic Milk Products', 'Kunafa',
       'Anti-Suicidal Fan Rod', 'Jackfruit Products',
       'Stainless Steel Items', 'Streaming Platform',
       'Portable Glass Attachment', 'All-Kabaddi App', 'Flowers',
       'Scholarship Platform', 'Handmade Reusable Scrap Materials',
       'Vegetables Storage', 'Ayurvedic Wellness App', 'Smart Locks',
       'Proposal Solutions', 'Technology layered advertisement services',
       'Rewards App', 'Portable opthalmic devices', 'Insoles',
       'Vegan Fermented Food', 'Sportswear', 'VR', 'Bacon Jams',
       'Reversible and convertible clothing', 'Plant-Based Protein',
       'Fastest Cooking Device', 'Lemonade', 'Washroom Finder',
       'Carenting for Elders'], dtype=object)

In [15]:
dataframe.head()

,episode,pitch_no,company,idea,anupam
0,1,1,BluePine Industries,Frozen Momos,N
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,N
2,1,3,Heart up my Sleeves,Detachable Sleeves,Y
3,2,4,Tagz Foods,Healthy Potato Chips,N
4,2,5,Head and Heart,Brain Development Course,N

In [16]:
dataframe.describe()

          episode    pitch_no
count  117.000000  117.000000
mean    18.735043   59.000000
std     10.070778   33.919021
min      1.000000    1.000000
25%     10.000000   30.000000
50%     19.000000   59.000000
75%     27.000000   88.000000
max     35.000000  117.000000

In [17]:
import seaborn as sns

In [18]:
dataframe.groupby(["company"])["episode"].agg(["max","min","mean","std"])

                                max  min  mean  std
company
ARRCOAT Surface Textures         11   11  11.0  NaN
Aas Vidyalaya                    17   17  17.0  NaN
Agro tourism                      2    2   2.0  NaN
Aliste Technologies              27   27  27.0  NaN
Alpino                           25   25  25.0  NaN
...                             ...  ...   ...  ...
Vivalyf Innovations- Easy Life    8    8   8.0  NaN
Wakao Foods                      29   29  29.0  NaN
Watt Technovations               27   27  27.0  NaN
WeSTOCK                          19   19  19.0  NaN
Woloo                            35   35  35.0  NaN

[117 rows x 4 columns]

In [19]:
dataframe.groupby(["company","idea"])["pitch_no"].value_counts()

company                         idea                                pitch_no
ARRCOAT Surface Textures        Wall Building                       32          1
Aas Vidyalaya                   EdTech App                          51          1
Agro tourism                    Tourism                             6           1
Aliste Technologies             Automation Solutions                87          1
Alpino                          Roasted Peanut Products             81          1
                                                                               ..
Vivalyf Innovations- Easy Life  Prickless Diabetes Testing Machine  23          1
Wakao Foods                     Jackfruit Products                  92          1
Watt Technovations              Ventilated PPE Kits                 86          1
WeSTOCK                         Livestock health monitoring AI      59          1
Woloo                           Washroom Finder                     116         1
Name: pitch_no, Length: 117, dtype: int64

In [20]:
dataframe.groupby(["company","episode"])["pitch_no"].value_counts()

company                         episode  pitch_no
ARRCOAT Surface Textures        11       32          1
Aas Vidyalaya                   17       51          1
Agro tourism                    2        6           1
Aliste Technologies             27       87          1
Alpino                          25       81          1
                                                    ..
Vivalyf Innovations- Easy Life  8        23          1
Wakao Foods                     29       92          1
Watt Technovations              27       86          1
WeSTOCK                         19       59          1
Woloo                           35       116         1
Name: pitch_no, Length: 117, dtype: int64

In [21]:
dataframe.groupby(["company","episode"])["anupam"].value_counts()

company                         episode  anupam
ARRCOAT Surface Textures        11       Y         1
Aas Vidyalaya                   17       N         1
Agro tourism                    2        N         1
Aliste Technologies             27       N         1
Alpino                          25       N         1
                                                  ..
Vivalyf Innovations- Easy Life  8        Y         1
Wakao Foods                     29       N         1
Watt Technovations              27       Y         1
WeSTOCK                         19       N         1
Woloo                           35       N         1
Name: anupam, Length: 117, dtype: int64

In [22]:
import numpy as np
import pandas as pd

In [23]:
np.where(dataframe["pitch_no"].isnull()==True)

(array([], dtype=int64),)

In [24]:
dataframe[dataframe.isna()==True]

     episode  pitch_no company idea anupam
0        NaN       NaN     NaN  NaN    NaN
1        NaN       NaN     NaN  NaN    NaN
2        NaN       NaN     NaN  NaN    NaN
3        NaN       NaN     NaN  NaN    NaN
4        NaN       NaN     NaN  NaN    NaN
..       ...       ...     ...  ...    ...
112      NaN       NaN     NaN  NaN    NaN
113      NaN       NaN     NaN  NaN    NaN
114      NaN       NaN     NaN  NaN    NaN
115      NaN       NaN     NaN  NaN    NaN
116      NaN       NaN     NaN  NaN    NaN

[117 rows x 5 columns]

In [25]:
dataframe.head()

,episode,pitch_no,company,idea,anupam
0,1,1,BluePine Industries,Frozen Momos,N
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,N
2,1,3,Heart up my Sleeves,Detachable Sleeves,Y
3,2,4,Tagz Foods,Healthy Potato Chips,N
4,2,5,Head and Heart,Brain Development Course,N

In [26]:
dataframe[(dataframe["pitch_no"]==67)&(dataframe["episode"]=="name")]

Empty DataFrame
Columns: [episode, pitch_no, company, idea, anupam]
Index: []

In [27]:
dataframe["pitch_no"].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117])

In [28]:
dataframe.dtypes

episode      int64
pitch_no     int64
company     object
idea        object
anupam      object
dtype: object